body{
    margin:0;
    padding:0;
}
.logo{
    width:380px;
    height:100px;
    background-image:url('../image/title.png');
    background-repeat:no-repeat;
    background-size:350px 100px;
}
@media (max-width:480px){
    .logo{
        width:60px;
        background:url('../image/instagram.jpg') no-repeat;
        background-size:60px 60px;
    }
}